:root {
  /* Colors */
  --black: #000;
  --white: #fff;
  --beige: #f6f3ef;
  --light-grey: #f9f8f7;

  /* Fonts weights */
  --medium: rubik-medium;
  --regular: rubik-regular;
  --light: rubik-light;

  /* Fonts sizes */
  --base-size: 16px;
  --h1: 4.5rem;
  --h2: 3.5rem;
  --h3: 2rem;
  --p: 1rem;
  --p-small: 0.875rem;
  --p-large: 1.25rem;
}

/*--- General ---*/

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--white);
  font-family: var(--light);
  color: var(--black);
  line-height: 1.5;
}

/*--- Headings and paragraphs ---*/

@font-face {
  font-family: rubik-medium;
  src: url(../fonts/rubik-medium.woff2);
}

@font-face {
  font-family: rubik-regular;
  src: url(../fonts/rubik-regular.woff2);
}

@font-face {
  font-family: rubik-light;
  src: url(../fonts/rubik-light.woff2);
}

h1 {
  font-size: var(--h1);
  line-height: 1.125;
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h1,
h2,
h3 {
  font-family: var(--light);
}

p {
  font-family: var(--regular);
  font-size: var(--p);
}

a {
  font-family: var(--regular);
  color: var(--black);
  font-size: var(--p);
}

.separator {
  border-bottom: 1px solid var(--black);
  margin: 1rem 0;
}

/*--- Header, sections and footer ---*/

/*- Mobile -*/
section,
footer {
  padding-left: 1rem;
  padding-right: 1rem;
}

/*- Desktio -*/
@media screen and (min-width: 1440px) {
  section,
  footer {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.primary_button,
.primary_button_sm {
  display: flex;
  align-items: center;
  width: auto;
  height: 3.5rem;
  padding: 1rem;
  background-color: var(--white);
  border: 1px solid var(--black);
  font-size: var(--p);
  cursor: pointer;
}

.primary_button svg,
  .primary_button_sm svg {
    margin-left: 1rem;
    width: 1rem;
    height: 1rem;
  }

  .primary_button_sm {
    height: 2.5rem;
    padding: 0.5rem 1rem;
    font-size: var(--p-small);
  }

/*--- Section title ---*/

/*- Mobile -*/
.section-title {
  width: 100%;
  height: 5rem;
  margin: 1rem 0;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-title h3 {
  font-size: var(--p-large);
}

svg.arrow-right,
.add-btn {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--black);
}

.primary_button {
  display: none;
}

/*- Tablet and Desktop -*/

@media screen and (min-width: 640px) {
  svg.arrow-right {
    display: none;
  }

  .section-title {
    margin: 2rem 0;
    padding: 0 2rem;
  }

  .section-title h3 {
    font-size: var(--h3);
  }

  .primary_button {
    display: flex;
    align-items: center;
    width: auto;
    height: 3.5rem;
    padding: 1rem;
    background-color: var(--white);
    border: 1px solid var(--black);
    font-size: var(--p);
    cursor: pointer;
  }
}
