/*- Mobile -*/

header {
  background: transparent;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 1rem;
  z-index: 5;
  border-bottom: 1px solid var(--black);
  transition: all 0.4s;
}

nav.scroll {
  background-color: var(--white);
  border-bottom: 0;
  box-shadow: 0 2px 8px hsl(0deg 0% 0% / 0.1);
}

.mobile_nav {
  position: fixed;
  left: -100%;
  top: 0;
  height: 100vh;
  flex-direction: column;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  transition: 0.7s;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  background-color: var(--light-grey);
  padding-top: 130px;
}

.mobile_nav.active {
  padding-top: 130px;
  left: 0;
  width: 100%;
}

.hamburger {
  display: block;
  cursor: pointer;
  z-index: 1;
}

.hamburger.active {
  /* position: fixed; */

}

.nav_item .underline {
  font-size: var(--h3);
}

.nav_item {
  display: flex;
  align-self: flex-end;
  padding: 0px 48px 50px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.hamburger.active .bar:nth-child(2) {
  transition-duration: 0.5s;
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transition-duration: 1s;
  transform: translate(1px, 8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transition-duration: 1s;
  transform: translate(1px, -8px) rotate(-45deg);
}

.desktop_nav {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  z-index: 1;
}

.right_nav {
  display: flex;
  align-items: center;
}

.right_nav li {
  display: inline;
  text-decoration: none;
}

.right_nav li a {
  text-decoration: none;
}

/* Hide login link om mobile */
.right_nav .login {
  display: none;
}

.login {
  display: none;
}

/* hr {
  background-color: black;
  position: absolute;
  top: 71px;
  width: 100%;
  height: 1px;
  border-width: 0;
  z-index: 999;
} */

/*- Desktop -*/

@media screen and (min-width: 768px) {
  .left_nav.active {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .left_nav.active {
    width: 50%;
  }
}

@media screen and (min-width: 1440px) {
  .hamburger {
    display: none;
  }

  .login {
    display: block;
  }

  .right_nav li {
    padding: 10px;
    margin-left: 2rem;
  }

  .logo {
    margin-right: 9rem;
  }

  .mobile_nav {
    display: none;
  }

  .desktop_nav {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .desktop_nav li {
    text-decoration: none;
    padding: 10px;
    margin-right: 2rem;
  }

  .desktop_nav li a {
    text-decoration: none;
    font-size: var(--p);
  }

  section.hero_container .canvas {
    height: 840px;
  }

  .hero_content {
    justify-content: center;
    padding: 2.5rem;
    width: 50%;
  }

  .hero_content h1 {
    font-size: var(--h1);
  }

  .hero_content p {
    display: inherit;
    width: 70%;
    margin-bottom: 2rem;
  }

  .hero_content a {
    font-size: var(--p-large);
  }

  .canvas img {
    transform: scale(1.125);
    object-fit: cover;
    object-position: 20% 0%;
  }
}
