header {
  background: transparent;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*--- Hero section ---*/

/*- Mobile -*/
section.hero_container {
  position: relative;
  width: 100%;
  min-height: 720px;
  padding: 0;
  z-index: 1;
}

section.hero_container .canvas {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 720px;
  overflow: hidden;
}

.hero_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1rem 1rem 2rem 1rem;
  width: 90%;
  height: 100%;
}

.hero_content h1 {
  font-family: var(--light);
  font-size: var(--h2);
  margin-bottom: 1rem;
}

.hero_content p {
  display: none;
}

.canvas img {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1);
  object-fit: cover;
  object-position: 55%;
}

/*- Desktop -*/

@media screen and (min-width: 1440px) {

  section.hero_container .canvas {
    height: 840px;
  }

  .hero_content {
    justify-content: center;
    padding: 2.5rem;
    width: 50%;
  }

  .hero_content h1 {
    font-size: var(--h1);
  }

  .hero_content p {
    display: inherit;
    width: 70%;
    margin-bottom: 2rem;
  }

  .hero_content a {
    font-size: var(--p-large);
  }

  .canvas img {
    transform: scale(1.125);
    object-fit: cover;
    object-position: 20% 0%;
  }
}
