.most_popular {
  padding-left: 0;
  padding-right: 0;
}

.most_popular_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.product_container {
  /* margin: 0.5rem 0.5rem 2rem 0.5rem; */
  width: calc(100%);
}

.frame {
  height: 512px;
  position: relative;
  overflow: hidden;
}

/* Frame bg colors */

.one, .three {
  background-color: #ECE7E4;
}

.two, .four {
  background-color: #F1EDEB;
}

/* Frame img settings */

.frame img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
}

/* Product content */

.product_content {
  padding: 1.5rem 1rem;
}

.product_title {
  font-family: var(--light);
  font-size: var(--p-large);
}

/*-- Tablet ---*/

@media screen and (min-width: 640px) {

  .most_popular_container {
    flex-direction: row;
  }

  .product_container {
    /* margin: 0.5rem 0.5rem 2rem 0.5rem; */
    width: calc(50%);
  }
}


/*--- Desktop ---*/

@media screen and (min-width: 1440px) {

  .product_container {
    /* margin: 0.5rem 0.5rem 2rem 0.5rem; */
    width: calc(25%);
  }
}
