:root {
  /* Colors */
  --black: #000;
  --white: #fff;
  --beige: #f6f3ef;
  --light-grey: #f9f8f7;

  /* Fonts weights */
  --light: rubik-light;
  --regular: rubik-regular;
  --medium: rubik-medium;

  /* Fonts sizes */
  --base-size: 16px;
  --h1: 4.5rem;
  --h2: 3.5rem;
  --h3: 2rem;
  --p: 1rem;
  --p-small: 0.875rem;
  --p-large: 1.25rem;
}

/*--- General ---*/

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--regular);
  background-color: var(--white);
  color: var(--black);
  line-height: 1.5;
}

/*--- Headings and paragraphs ---*/

@font-face {
  font-family: rubik-medium;
  src: url(./fonts/rubik-medium.woff2);
}

@font-face {
  font-family: rubik-regular;
  src: url(./fonts/rubik-regular.woff2);
}

@font-face {
  font-family: rubik-light;
  src: url(./fonts/Rubik-light.woff2);
}

h1,
h2,
h3 {
  font-family: var(--light);
}

h1 {
  font-size: var(--h1);
  line-height: 1.125;
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

p {
  font-size: var(--p);
}

a {
  color: var(--black);
  font-size: var(--p);
}

/*--- Header, sections and footer ---*/

/*- Mobile -*/
header,
section,
footer {
  padding-left: 1rem;
  padding-right: 1rem;
}

section {
  margin-bottom: 80px;
}

/*- Desktio -*/
@media screen and (min-width: 1440px) {
  header,
  section,
  footer {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
